<div>
    <h2>Admin Page</h2>
    <div class="jumbotron" ng-controller="AdminCtrl">
        <div class="container">


            <!-- DISPLAYS NUMBER OF ACTIVE CLUSTERS AND NUMBER OF ACTIVE USERS -->
            <div class="row">
                <div class="col-md-6">
                    <h3 style="display: inline;">Active Clusters: {{ activeClusters }}</h3>
                </div>
                <div class="col-md-6">
                    <h3 style="display: inline;">Active Users: {{ activeUsers }}</h3>
                </div>
            </div>

            <!-- LINE FOR SEPARATION -->
            <hr noshade style="color:#000000; height:1px" align="left"/>

            <!-- DISPLAYS LIST OF CLUSTERS AND LIST OF USERS SIDE BY SIDE -->
            <div class="row">

                <div class="col-md-6">
                    <table class="table">
                        <h3>Active Clusters</h3>
                        <thead>
                        <tr>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in groups">
                            <th>{{ group.id }}</th>
                            <th>
                                <button ng-click="disband(group.id)"
                                        class="btn pull-right btn-primary btn-outline btn-rounded">Disband Cluster
                                </button>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6" ng-controller="OtherProfileCtrl">
                    <table class="table">
                        <h3>All Users</h3>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <th>{{ user.name }}</th>
                            <th>{{ user.id }}</th>
                            <th>
                                <button ng-click="toggleModal(user.name, user.rating.upVotes, user.rating.downVotes, user.number, user.fbLink, user.email)"
                                        class="btn pull-right btn-primary btn-outline btn-rounded">View Profile
                                </button>
                            </th>
                            <th>
                                <button ng-click="banUser(user.id)"
                                        class="btn pull-right btn-primary btn-outline btn-rounded">Ban User
                                </button>
                            </th>
                        </tr>
                        <modal visible="showModal">
                        </modal>
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- LINE FOR SEPARATION -->
            <hr noshade style="color:#000000; height:1px" align="left"/>

            <!-- DISPLAYS NUMBER OF ORDER COMPLETED AND NUMBER OF ORDER NOT COMPLETED -->
            <div class="row">
                <div class="col-md-6">
                    <h3 style="display: inline;">Orders Completed: {{ numCompleted }}</h3>
                </div>
                <div class="col-md-6">
                    <h3 style="display: inline;">Orders Not Completed: {{ numNotCompleted }}</h3>
                </div>
            </div>

            <!-- LINE FOR SEPARATION -->
            <hr noshade style="color:#000000;" align="left"/>

            <table class="table">
                <h3>Full Cluster History</h3>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Restaurant</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Leader Name</th>
                    <th>Leader ID</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cluster in clusterHistory track by cluster.id">
                    <th>{{ cluster.id }}</th>
                    <th>{{ cluster.restaurant_name }}</th>
                    <th>{{ cluster.address }}</th>
                    <th>{{ cluster.city }}</th>
                    <th>{{ cluster.state }}</th>
                    <th>{{ cluster.zip }}</th>
                    <th>{{ cluster.leader_name }}</th>
                    <th>{{ cluster.leader_id }}</th>
                    <th>{{ cluster.completed == true ? 'Yes' : 'No' }}</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
