<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Clusters</h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron" ng-app="yapp" ng-controller="ClustersCtrl">
        <div class="container">
            <div class="panel panel-primary" ng-repeat="group in groups">
                <div style="padding:16px; padding-bottom:0px" class="row">
                    <div class="col-md-6">
                        <p><strong>{{ group.restaurant.name }}</strong></p>
                        <hr noshade style="color:#000000;"/>
                        <p>
                            {{ group.restaurant.location.city }},
                            {{ group.restaurant.location.state }}
                            {{ group.restaurant.location.zip }}
                        </p>
                        <p><a href="http://{{ currentCluster.restaurant.hungryBoilerLink }}">View Restaurant on Hungry Boiler</a></p>
                        <p><button ng-click="join(group.id)" class="btn btn-primary btn-outline btn-rounded">Join Cluster</button></p>
                    </div>

                    <div class="col-md-6">
                        <p><strong>Pickup Location</strong></p>
                        <hr noshade style="color:#000000;" align="left"/>
                        <p>{{ group.location.address }}, {{ group.location.city }}, {{ group.location.state }} {{ group.location.zip }}</p></p>
                        <p><span>Members:&nbsp {{ group.numUsers }} ({{ group.minUsers }} - {{ group.maxUsers }})</span>
                            <span style="margin-left:30px">Delivery Fee: ${{ group.restaurant.deliveryFee }}.00</span>
                        </p>
                        <p>Minimum Price Requirement: ${{ group.restaurant.deliveryMinimum }}.00</p>
                    </div>
                </div>

                <!--
                <hr noshade style="color:#000000;"/>
                <table class="table">
                    <p style="padding-left:16px;"><strong>Cluster Member Information</strong></p>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rating (0 to 1)</th>
                        <th>Number</th>
                        <th>Facebook Profile</th>
                        <th>Email</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in group.users">
                        <th>{{ user.name }}</th>
                        <th>{{ user.rating.ratio }}</th>
                        <th>{{ user.number}}</th>
                        <th><a ng-href="{{ user.fbLink }}" class="glyphicon glyphicon-user"></a></th>
                        <th>{{ user.email }}</th>
                        <th>{{ user.location }}</th>
                    </tr>
                    </tbody>
                </table>
                -->

            </div>
        </div>
    </div>
    <script src="scripts/controllers/clusters.js"></script>
</div>

