<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>My Cluster</h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron" ng-app="yapp" ng-controller="ClustersCtrl" ng-show="hasCluster">
        <div class="container">

            <div class="panel panel-primary">
                <div style="padding:16px; padding-bottom:0px" class="row">
                    <div class="col-md-6">
                        <!--<p><strong>ID:&nbsp</strong>{{ currentCluster.id }}</p>-->
                        <p><strong>Pickup Location</strong>
                        <p>{{ currentCluster.location.name }}</p>
                        <p>{{ currentCluster.location.address }}</p>
                        <p>{{ currentCluster.location.city }}, {{ currentCluster.location.state }} {{ currentCluster.location.zip }}</p>
                        <br>
                        <p><strong>User Range: </strong>({{ currentCluster.minUsers }} - {{ currentCluster.maxUsers }})</p>
                        <!--<p><strong>Max Users:&nbsp</strong>{{ currentCluster.maxUsers }}</p>-->
                        <!--<p><strong>Min Users:&nbsp</strong>{{ currentCluster.minUsers }}</p>-->
                        <p><strong>Number of Users: </strong>{{ currentCluster.numUsers }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Restaurant Information</strong></p>
                        <p>{{ currentCluster.restaurant.name }}</p>
                        <p>{{ currentCluster.restaurant.address }}</p>
                        <p>{{ currentCluster.restaurant.location.city }},
                            {{ currentCluster.restaurant.location.state }}
                            {{ currentCluster.restaurant.location.zip }}</p>
                        <p>Delivery Fee: ${{ currentCluster.restaurant.deliveryFee }}</p>
                        <p>Min. Delivery Charge: ${{ currentCluster.restaurant.deliveryMinimum }}</p>
                        <a href="{{ currentCluster.restaurant.hungryBoilerLink }}">See on Hungry Boiler</a>
                    </div>
                </div>

                <!-- LINE FOR SEPARATION -->
                <hr noshade style="color:#000000; height:1px" align="left"/>

                <table class="table">
                    <p style="padding:16px; padding-top:0px"><strong>Cluster Member Information</strong></p>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rating (0 to 1)</th>
                        <th>Number</th>
                        <th>Facebook Profile</th>
                        <!--<th class="glyphicon glyphicon-user"></th>-->
                        <th>Email</th>
                        <th>Location</th>
                        <th class="glyphicon">Kick</th>
                        <!--<th ng-show="isLeader"></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" ng-repeat="user in currentCluster.users">
                        <th>{{ user.name }}</th>
                        <th>{{ user.rating.ratio }}</th>
                        <th>{{ user.number}}</th>
                        <th><a ng-href="{{ user.fbLink }}" class="glyphicon glyphicon-user"></a></th>
                        <th>{{ user.email }}</th>
                        <th>{{ user.location }}</th>
                        <th ng-show="isLeader"><a ng-href="" class="glyphicon glyphicon-remove" ng-click="$parent.removeUser(user.id)"></a></th>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-2">
                <button ng-click="leave()" class="btn btn-primary btn-outline btn-rounded">Leave Your Cluster</button>
            </div>
            <div class="col-sm-2" ng-show="isLeader">
                <button ng-click="complete(currentCluster.id)" class="btn btn-primary btn-outline btn-rounded">Complete Cluster</button>
            </div>

        </div>
    </div>
    <script src="scripts/controllers/clusters.js"></script>
</div>

