<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Rating</h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron" ng-app="yapp" ng-controller="RatingCtrl">
        <div class="container">

        <!--
        <div class="panel panel-primary" ng-repeat="group in groups">
            <p><strong>ID:&nbsp</strong>{{ group.id }}</p>
            <p><strong>Max Users:&nbsp</strong>{{ group.maxUsers }}</p>
            <p><strong>Min Users:&nbsp</strong>{{ group.minUsers }}</p>
            <p><strong>Users:</strong>{{ group.numUsers }}</p>
            <p>
                <button ng-click="join(group.id)" class="btn btn-primary btn-outline btn-rounded">Join Cluster</button>
            </p>
         -->
            <table class="table">
                <h3>Past Cluster Members</h3>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating (0 to 1)</th>
                    <th>Number</th>
                    <th class="glyphicon glyphicon-user"></th>
                    <th>Email</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tr ng-repeat="user in group">
                    <th>{{ user.name }}</th>
                    <th>{{ user.rating.ratio }}</th>
                    <th>{{ user.number}}</th>
                    <th><a ng-href="{{ user.fbLink }}" class="glyphicon glyphicon-user"></a></th>
                    <th>{{ user.email }}</th>
                    <!--<th>{{ user.location }}</th>-->
                    <th>
                        <!--<button ng-click="upVote(user.id)" class="btn btn-primary btn-outline btn-rounded">Upvote</button>
                        <button ng-click="downVote(user.id)" class="btn btn-primary btn-outline btn-rounded">Downvote</button> -->
                        <a ng-href="" class="glyphicon glyphicon-arrow-up" ng-click="$parent.upVote(user.id)"></a>
                        <a ng-href="" class="glyphicon glyphicon-arrow-down" ng-click="$parent.downVote(user.id)"></a>
                    </th>

                </tr>
            </table>

        </div>
    </div>
    </div>
    <script src="scripts/controllers/rating.js"></script>
</div>
